<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender" fileName="/Users/patrickn/logsTest/log4j2-demo.log"
                     filePattern="/Users/patrickn/logsTest/log4j2-demo-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        
        <File name="FileUniqueAppender" fileName="/Users/patrickn/logsTest/log4j2-demoUniqueFile.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
        
    </Appenders>
    <Loggers>
        <Logger name="it.patrick.demo" level="info" additivity="false">
            <AppenderRef ref="FileAppender" />
             <AppenderRef ref="FileUniqueAppender" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>